@font-face {
  font-family: 'Arial-MT';
  src: url("./assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type=range].styled-slider {
  height: 2.2em;
  -webkit-appearance: none;
  background: transparent;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 1.2em + var(--ratio) * (100% - 1.2em));
}

input[type=range].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
  background: #FFFFFF;
  border: none;
  box-shadow: 1px 0 2px #000000;
  margin-top: calc(max((1em - 1px - 1px) * 0.5,0px) - 1.7em * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 0.5em;
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #efefef;
  box-shadow: none;
}

input[type=range].styled-slider::-webkit-slider-thumb:hover {
  background: #F2F4F6;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].styled-slider::-webkit-slider-thumb:active {
  background: #707070;
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#787878,#787878) 0/var(--sx) 100% no-repeat, #efefef;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
  background: #FFFFFF;
  border: none;
  box-shadow: 1px 0 2px #000000;
}

input[type=range].styled-slider::-moz-range-track {
  height: max(calc(1em - 1px - 1px),0px);
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #efefef;
  box-shadow: none;
}

input[type=range].styled-slider::-moz-range-thumb:hover {
  background: #F2F4F6;
}

input[type=range].styled-slider:hover::-moz-range-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].styled-slider::-moz-range-thumb:active {
  background: #707070;
}

input[type=range].styled-slider:active::-moz-range-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#787878,#787878) 0/var(--sx) 100% no-repeat, #efefef;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
  background: #FFFFFF;
  border: none;
  box-shadow: 1px 0 2px #000000;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
  height: 1em;
  border-radius: 0.5em;
  background: #efefef;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:hover {
  background: #F2F4F6;
}

input[type=range].styled-slider:hover::-ms-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].styled-slider::-ms-thumb:active {
  background: #707070;
}

input[type=range].styled-slider:active::-ms-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: max(calc(1em - 1px - 1px),0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: #787878;
  border: 1px solid #b2b2b2;
  border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower {
  background: #787878;
  border-color: #9a9a9a;
}

input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
  background: #787878;
  border-color: #c1c1c1;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("./assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.player .manage-block {
  padding: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.08) 100%);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.player-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.playlist {
  width: 32px !important;
  height: 32px !important;
  background-size: 20px 20px !important;
  background-image: url("./assets/svg/playlist_icon.svg");
  border-radius: 50%;
  padding: 5px !important;
  border: 4px solid rgba(255, 255, 255, 0.45) !important;
}

.playlist.active {
  border: 4px solid white !important;
}

.play-list {
  text-align: left;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.08) 100%);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  position: relative;
  left: -200%;
  transition: all ease 0.3s;
}

.play-list.shown {
  left: 0;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("./assets/svg/play.svg");
}

.pause {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("./assets/svg/pause.svg");
  display: none;
}

.play-prev {
  background-image: url("./assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("./assets/svg/play-next.svg");
}

.play-list {
  height: auto;
  overflow-y: auto;
}

.audio-item {
  list-style: none;
  line-height: 150%;
  padding-left: 30px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url("./assets/svg/play.svg");
  cursor: pointer;
}

.audio-item.active {
  background-image: url("./assets/svg/pause.svg");
  text-shadow: 3px 3px 3px rgb(0 0 0 / 30%);
}

.audio-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.track-name {
  margin-bottom: 10px;
  margin-top: 10px;
}

.progress {
  cursor: pointer;
}

.progress-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.volume-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input.volume {
  max-width: 120px;
}
.volume-off,
.volume-up {
  list-style: none;
  line-height: 150%;
  padding-left: 30px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.volume-off {
  background-image: url("./assets/svg/volume-off.svg");
}

.volume-up {
  background-image: url("./assets/svg/volume-up.svg");
  display: none;
}

.weather {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.08) 100%);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 10px;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 100%;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 39vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("./assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("./assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting-wr {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.footer .quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.settings {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("./assets/svg/icons8-settings-32.svg");
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("./assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.popup {
  bottom: 20px;
  transition: all ease 0.3s;
  z-index: 2;
  position: absolute;
  width: 300px;
  left: -100%;
  padding: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.08) 100%);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup.opened {
  left: 70px;
}

.language,
.background-source {
  display: flex;
  margin-bottom: 20px;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.btn-wrapper .variant {
  background: #FFFFFF;
  border-radius: 50px;
  transform: rotate(-0.16deg);
  min-width: 40px;
  padding: 2px 5px;
  align-items: center;
  color: black;
}

.btn-wrapper .variant.active {
  background: #525353;
  box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}

.tags-wrapper {
  text-align: start;
  display: flex;
  flex-wrap: wrap;
}

.tags-wrapper .applied {
  display: flex;
  flex-wrap: wrap;
}

.tags-wrapper .applied li{
  background: #FFFFFF;
  border-radius: 100px;
  padding: 5px 10px;
  width: fit-content;
  list-style: none;
  display: flex;
  margin: auto 0 auto 10px;
  gap: 5px;
  cursor: pointer;
  color: #525353;
}

.tags-wrapper .applied li {
  margin-bottom: 10px;
}

.tags-wrapper .applied li .icon-tag {
  background-image: url('./assets/svg/added.svg');
  background-size: cover;
  transition: background-image 0.3s ease-in-out;
  height: 1rem;
  width: 15px;
  cursor: pointer;
}

.tags-wrapper.disabled-tags {
  display: none;
}

.tags-wrapper .applied li:hover .icon-tag {
  background-image: url('./assets/svg/remove2.svg');
  fill: #525353;
}


.tags-wrapper .add-tag {
  border: 1px solid #79747E;
  background: #FFFFFF;
  border-radius: 100px;
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


.tags-wrapper .add-tag img {
  margin: 5px;
  cursor: pointer;
}

.tags-wrapper .add-tag form{
  margin: 0;
}

.tags-wrapper .add-tag input {
  display: none;
  margin: 0 10px;
  border: none;
  outline: none;
  height: 100%;
  max-width: 100px;
}

.tags-wrapper .add-tag.active input{
  display: block;
}


.blocks-visibility ul li {
  display: flex;
  justify-content: space-between;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.blocks-visibility ul li .block-btns {
  display: flex;
}

.blocks-visibility ul li .block-btns .btn {
  background: #FFFFFF;
  border-radius: 10px;
  transform: rotate(-0.16deg);
  width: 30px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.blocks-visibility ul li .block-btns .btn p{
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.03em;
  color: #525353;
  text-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.35);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.blocks-visibility ul li .block-btns .btn.active {
  background: #525353;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(-0.16deg);
}

.blocks-visibility ul li .block-btns .btn.active p{
  color: #FFFFFF;
}

.todo {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.08) 100%);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 170px;
  width: 250px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.add-todo {
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.add-todo .add-todo-btn {
  height: 30px;
  cursor: pointer;
}

.add-todo .add-todo-btn .color {
  fill: rgba(237, 237, 237, 0.63);
  transition: all 0.2s;
}

.add-todo .add-todo-btn:hover .color{
  fill: #EDEDED;
}

.add-todo form {
  display: none;
}

.add-todo form input {
  width: 100%;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid white;
  color: white;
}

.add-todo form input:focus-visible {
  outline: none;
}

.add-todo form.active {
  display: block;
}

ul.todo-list {
  padding: 5px;
  overflow-y: auto;
  height: 110px;
  margin: 5px;
}

ul.todo-list li {
  text-align: start;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;

}

ul.todo-list li input {
  position: absolute;
  opacity: 0;
}

ul.todo-list li input + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  flex-grow: 1;
  overflow-wrap: anywhere;
  display: flex;
  align-items: center;
}

ul.todo-list li input + label::before{
  content: url('./assets/svg/checkboxOFF.svg');
  position: relative;
  top: 5px;
}

ul.todo-list li input:checked + label::before {
  content: url('./assets/svg/checkboxON.svg');
}

ul.todo-list li img {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  right: 0;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25); /* Цвет дорожки */
  border-radius: 3px;
  margin-right: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
  border: 3px solid white;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting-wr {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}